body {
  text-align: center;
  background-color: black;
  color: white;
}
.title {
  color: white;
}
#black-box {
  height: 20vw;
  color: white;
}

.points {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px;
  margin: 0px auto;
  color: white;
}

.words {
  height: 20px;
  margin: auto auto;
}
